<header>
  <h1>
    <a href="/products">Commerce 🛒</a>
  </h1>
  <nav>
    <ul>
      <li><a href="/products">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/products/new">Add a product</a></li>
    </ul>
  </nav>
</header>
