<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/assets/add-product.css" />
  </head>
  <body class="container">
    <%- include('./partials/_header.ejs') %>
    <form class="product-form" action="/products/new" method="POST">
      <div>
        <label for="product-title">Title</label>
        <input type="text" id="product-title" name="title" />
      </div>
      <div>
        <label for="product-category">Category</label>
        <select name="category" id="product-category">
          <option>Electronics</option>
        </select>
      </div>
      <div>
        <label for="product-price">Price</label>
        <input type="number" id="product-price" name="price" />
      </div>
      <div>
        <label for="product-sale-price">Sale Price</label>
        <input type="number" id="product-sale-price" name="salePrice" />
      </div>
      <div>
        <label for="product-image">Image URL</label>
        <input type="url" id="product-image" name="imageUrl" />
      </div>
      <button class="btn btn-primary">Save</button>
    </form>
  </body>
</html>
