<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/assets/add-product.css" />
  </head>
  <body class="container">
    <%- include('./partials/_header.ejs') %>
    <form class="product-form">
      <h2 class="page-title"><%= title %></h2>
      <div>
        <label for="">Title</label>
        <input type="text" />
      </div>
      <div>
        <label for="">Category</label>
        <select name="" id="">
          <option>Electronics</option>
        </select>
      </div>
      <div>
        <label for="">Price</label>
        <input type="number" />
      </div>
      <div>
        <label for="">Sale Price</label>
        <input type="number" />
      </div>
      <div>
        <label for="">Image URL</label>
        <input type="url" />
      </div>
      <button class="btn btn-primary">Save</button>
    </form>
  </body>
</html>
