<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/auth.css">
    <title>Document</title>
  </head>
  <body class="container">
    <%- include('./partials/_header.ejs') %>
    <div class="form-container">
      <form class="card auth-form" action="#" method="POST">
        <h2 class="form-title">Register</h2>
        <p class="form-desc">Enter your information to create an account</p>
        <div class="input-group">
          <label for="email">Username</label>
          <input
            id="username"
            name="name"
            type="text"
          />
        </div>
        <div class="input-group">
          <label for="email">Email</label>
          <input
            id="email"
            name="email"
            type="email"
            placeholder="abc@email.com"
          />
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input
            id="password"
            name="password"
            type="password"
          />
        </div>
        <div class="input-group">
          <label for="confirmPassword">Confirm password</label>
          <input
            id="confirmPassword"
            name="confirmPassword"
            type="password"
          />
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
